# Project-specific
Versions/
bin/
obj/
Debug/
Release/
*.zip

# Visual Studio / VSCode
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build / test artifacts
TestResult*/
*.trx
*.coverage*
*.pdb
*.opendb
*.log
logs/

# .NET generated
*.Designer.cs
*.g.*
*.i.cs
*.AssemblyAttributes.cs

# Packages / publish profiles
packages/
PublishProfiles/
*.msix*
*.nupkg

# Misc OS files
Thumbs.db
.DS_Store
desktop.ini
